{% include 'user_registration/base.html' %} 
{% load static %}

{% block body %}

<div class="success-alert" id="success-alert">
  {% if messages %} 
    {% for message in messages %} 
      {% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %} 
        {{message}}
      {% endif %} 
    {% endfor %} 
  {% endif %}
</div>

<h1 class="title">Update Quiz Category</h1>



    {% csrf_token %}
    <form action="" method="POST">
      {% csrf_token %}
      {{ form.name.label_tag }}
      {{ form.name }}
      {{ form.description.label_tag }}
      {{ form.description }}
      {{ form.number_of_questions.label_tag}}
      {{ form.number_of_questions }}
      {{ form.time.label_tag }}
      {{ form.time }}
      <input type="submit" value='Update'>
    </form>
  




{% endblock %}