<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div><a href="{% url 'user_registration:index' %}">Home</a>
        <a href="{% url 'user_registration:register' %}">Signup</a>
    
        {% if user.is_authenticated %}
            <a href="{% url 'user_registration:user_logout' %}">Logout</a>         
            {% else %}
            <a href="{% url 'user_registration:user_login' %}">Login</a>
            {% endif %}</div>
    <section>
        <h1 class="title">Please Login!</h1>
    <form action="{% url 'user_registration:user_login' %}" method="POST">
        {% csrf_token %}
        <label for="username">Username:</label>
        <input type="text" name="username" placeholder="Enter Username">

        <label for="password">Password:</label>
        <input type="password" name="password">

        <input type="submit" value="Login">
    </form>
    </section>
</body>
</html>