{% extends 'user_registration/base.html' %}
{% load static %}
{% comment %} {% block css %} {% static "user_registration/register.css" %} {% endblock %} {% endcomment %}
{% block body %}
{% comment %} {% include 'includes/nav.html' %} {% endcomment %}
  <h1 class="title">Upload Profile Image</h1>
  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="upload-image">
      <label for="id_profile_image">Profile Image:</label>
      <input type="file" name="profile_image" id="id_profile_image">
      <button>Upload</button>
    </div>
  </form>
{% endblock %}